# web framework
django

# WSGI server
gunicorn

# task queue system
celery

# monitoring for celery tasks
flower

# message broker and result backend for celery
redis

# postgresql binary
psycopg2-binary

# linting
flake8
black
isort

requests

channels
channels-redis